{{ define "main" }}
<article class="prose max-w-none">
  <h1>{{ .Title }}</h1>

  {{ with .Date }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  {{ end }}

  {{ with .Params.location }}
  <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/pin-s+000({{ .longitude }},{{ .latitude }})/{{ .longitude }},{{ .latitude }},10/500x500?access_token={{ site.Params.mapboxToken}}"/>
  {{ .latitude }}, {{ .longitude }}
  {{ with .altitude }}
    {{ . }} meters
  {{ end }}
  {{ with .agl }}
    ({{ . }} above ground)
  {{ end }}
  {{ end }}

  {{ .Content }}
</article>
{{ end }}
